.idea
!.idea/
.idea/*
!.idea/runConfigurations/
*.iml
*.ipr
*.iws
*.log*
*.DS_Store
*build/
.gradle/
*jgiven-reports/
src/main/gen/
modules/apps/*/src/main/gen/
modules/docker/all/modules/apps/
/out/
**/out/**
node_modules/
yarn.lock
logs/
.classpath
.settings
.project
*file-storage/
!*.gitkeep
/public/
/target/
