*.DS_Store
*.iml
*.ipr
*.iws
*.idea/
*build/
*.gradle/
*jgiven-reports/
src/main/gen/
application-modules/file-items-rest-service/src/main/gen/
*out/
*node_modules/
*yarn.lock
*.log
*.classpath
*.settings
*.project
*file-storage/
!*.gitkeep
