*.DS_Store
*.iml
*.ipr
*.iws
*.idea/
*build/
*.gradle/
*jgiven-reports/
src/main/gen/
modules/apps/*/src/main/gen/
modules/docker/all/modules/apps/
*out/
*node_modules/
*yarn.lock
*logs/
*.log
*.classpath
*.settings
*.project
*file-storage/
!*.gitkeep
/public/
