<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <extension name="coverage" enabled="false" merge="false" sample_coverage="true" runner="idea">
      <pattern>
        <option name="PATTERN" value="com.daggerok.spring.streaming.fileserver.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.daggerok.spring.streaming.fileserver.App" />
    <option name="DEBUG_MODE" value="true" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <module name="streaming-file-server" />
    <envs />
    <method />
  </configuration>
</component>