<footer class="footer navbar navbar-static-bottom row-fluid">
  <div class="navbar-inner">
    <div class="container">
      <a class="text-muted btn btn-social-icon btn-github" href="{{githubUrl}}"><span
          class="fa fa-github">2016 &copy; Maksim Kostromin</span></a>
    </div>
  </div>
</footer>
</main>
</body>
</html>
