</main>
<footer class="text-center footer navbar navbar-fixed-bottom row-fluid">
  <div class="navbar-inner">
    <div class="container">
      <a class="text-muted btn-social-icon" href="{{githubUrl}}">
        2016-2017 &copy; Maksim Kostromin <i class="fa fa-github"></i></a>
    </div>
  </div>
</footer>
</body>
</html>
