<div class="container-fluid">
  <h3 class="panel panel-heading">upload</h3>
  <form action="{{uploadUrl}}" enctype="multipart/form-data" method="post">
    <label class="control-label">Select File</label>
    <input id="file" name="file" type="file" class="file" data-show-preview="false">
  </form>
</div>
